---
import { getCollection } from 'astro:content';
import Header2 from "@/components/common/Header2.astro";
import Text from '@/components/common/Text.astro';
import BlogCard from '@/components/blogs/BlogCard.astro';

const allBlogs = await getCollection('blog');
---
<Header2>Individual Blogs</Header2>
<Text>個人的な出来事などを綴ったブログです。</Text>
{allBlogs.length === 0 ? (
    <Text>現在ブログはまだありません。</Text>
) : (
    <ul>
        {allBlogs.map((blog) => (
            <li>
                <BlogCard title={blog.data.title} description={blog.data.description} image={blog.data.heroImage} pubDate={blog.data.pubDate} url={`/blogs/${blog.id.replace(/\.(md|mdx)$/, '')}`} />
            </li>
        ))}
    </ul>
)}