---
import BaseLayout from "@/layouts/BaseLayout.astro";
---
<BaseLayout
	title="ホーム - SHINNの研究室"
	description="SHINNの研究室のホームです。"
	ogType="webSite"
	ogUrl="https://shinn-chan.net/"
>
	<h1>hoge</h1>
	<h2>hoge</h2>
	<h3>hoge</h3>
	<p>hoge</p>
</BaseLayout>