---
interface link {
    href: string;
    label: string;
}

const links: link[] = [
    { href: '/', label: 'Home' },
    { href: '#', label: 'Blogs' },
    { href: "/works/", label: "Works"}
];
---
<header class="bg-linear-to-b from-primary-600 to-primary-500 text-white px-4 py-6 mb-4 rounded-br-xl rounded-bl-xl shadow-xl">
    <div class="container mx-auto flex justify-between items-center">
        <div class="text-2xl font-bold">
            SHINNの研究室
        </div>
        <div>
            <nav>
                <ul class="flex gap-6">
                    {links.map(link => (
                        <li>
                            <a href={link.href} class="hover:text-gray-200 font-bold">
                                {link.label}
                            </a>
                        </li>
                    ))}
                </ul>
            </nav>
        </div>
    </div>
</header>