---
import Header from "@/components/common/Header.astro";
import Footer from "@/components/common/Footer.astro";
import BaseHead from "@/components/common/BaseHead.astro";
import "@/styles/global.css";

interface Props {
    title: string;          // ページタイトル
    description: string;    // ページ説明
    ogType: string;         // OGPタイプ
    ogUrl: string;          // OGP URL
}

const {
    title,
    description,
    ogType,
    ogUrl,
} = Astro.props;
---
<!doctype html>
<html lang="ja" class="h-full">
    <head>
        <BaseHead
            title={title}
            description={description}
            ogType={ogType}
            ogUrl={ogUrl}
        />
    </head>
    <body class="h-full flex flex-col">
        <Header />
        <main class="container mx-auto px-4 grow"><slot /></main>
        <Footer />
    </body>
</html>