---
import BaseHead from '@/components/common/BaseHead.astro';
import Header from '@/components/common/Header.astro';
import Footer from '@/components/common/Footer.astro';
import Header1 from '@/components/common/Header1.astro';
import "@/styles/global.css";
import type { CollectionEntry } from 'astro:content';

interface Props {
	blog: CollectionEntry<'blog'>;
}

const { blog } = Astro.props;
---

<!doctype html>
<html lang="ja" class="h-full">
    <head>
        <BaseHead
            title={`${blog.data.title} - SHINNの研究室`}
            description={blog.data.description}
            ogType="article"
            ogUrl={`https://shinn-chan.net/blogs/${blog.id.replace(/\.(md|mdx)$/, '')}/`}
        />
    </head>
    <body class="h-full flex flex-col">
        <Header />
        <main class="container mx-auto px-4 grow">
            <article>
                <Header1>{blog.data.title}</Header1>
                <slot />
            </article>
        </main>
        <Footer />
    </body>
</html>